.menu{
    padding: 1%;
    text-align: end;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: flex;
    display: flex;
    gap: 0.5rem;
}

.menu a {
    gap: 0.5rem;
    display: block;
}

.menu--option{
    transition: 0.3s ease;
    border-bottom: 4px solid rgba(234, 7, 255, 0);
    padding: 1% 0;
    margin: 0px 2%;
    font-size: 1.2em;
}

.menu--option:hover{
    border-bottom: 4px solid rgb(0, 0, 0);
    padding: 0.4% 0;
}
